<h5> A new enquiry has been generated. Mentioned below are the details</h5>
<p>
Name: <%= @enquiry.Name %> <br>
Email: <%= @enquiry.Email %><br>
Telephone: <%= @enquiry.Telephone %> <br>
Message: <%= @enquiry.Message %><br>

</p>