/* line 6, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
rect {
  width: 75px !important;
}

/* line 10, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
.collapse.in {
  display: table;
}

/* line 14, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#customheader {
  background-image: url("/dev-assets/maintruck-c36a1313239af2ce8c2444c509dbb4d0ad61be9cc7ef01ce7dabec39e2b2a428.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

/* line 26, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#customheader .intro-text {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 30, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#customheader .intro-text .intro-lead-in {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

/* line 38, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#customheader .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-weight: 300; */
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  /* line 46, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
  #customheader .intro-text {
    padding-top: 170px;
    padding-bottom: 140px;
  }

  /* line 50, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
  #customheader .intro-text .intro-lead-in {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 45px;
  }

  /* line 56, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
  #customheader .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    /* font-weight: 700; */
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
/* line 66, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#landingheader {
  background-image: url("/dev-assets/1truck-ef14e19ce1028144e3ed8a82bbcf80737df43854dd6d49073f59303683f94420.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
  color: white;
}

/* line 78, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#landingheader .intro-text {
  padding-top: 190px;
  padding-bottom: 190px;
}

/* line 82, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#landingheader .intro-img {
  padding-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 270px;
}

/* line 89, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#landingheader .intro-text .intro-lead-in {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

/* line 97, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#landingheader .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-weight: 300; */
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  text-align: left;
}

@media (min-width: 768px) {
  /* line 106, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
  #customheader .intro-text .intro-img {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  /* line 110, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
  #landingheader .intro-text .intro-lead-in {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    text-align: left;
  }

  /* line 118, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
  #landingheader .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    /* font-weight: 700; */
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    text-align: left;
  }
}
/* line 129, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#portfoliosection {
  background-image: url("/dev-assets/warehouse-992f653c3518d406d268aa76a762a3f37768f58da6a7bad04304377b9712178a.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

/* line 141, C:/Users/Manish/Desktop/Biz/Ruby On Rails/alphatest/app/assets/stylesheets/custom.scss.erb */
#portfoliosection .row {
  padding-top: 150px;
  padding-bottom: 150px;
}
